body {
  background-color: #4dadc8;
}
p {
  margin: 0;
}

input:focus {
  outline: none;
}

.container {
  width: 600px;
  margin: auto;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}




.input_box {
  width: 100%;
  padding: 16px;
  border: none;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.03);
  font-size: 24px;
}

.todo-box {
  padding: 16px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  width: 100%;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.todo-text{
  font-size: 20px;
  color:#666;
  word-break: break-all;
  margin:0 16px;
}

.types-container{
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding: 16px;
  flex-wrap: wrap;
}

.types-box{
  padding:8px;
  cursor: pointer;
}

.active{
  border:1px solid #e6e6ee
}

.resetButton{
  padding:16px;
  background: #fafafa;
  cursor: pointer;
  float: right;
}